.SplashPhoto {
    width: 1000px;
    z-index: 1;
    border-radius: 4px;
}

.full-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 1000px; */
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.company-name {
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* justify-content: center;
    align-items: center; */
    font-size: 60px;
    font-weight: bolder;
    text-shadow:1px 1px 1px black;
    color: rgb(255, 255, 255);
    /* z-index: 10; */

}
