.full-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 50px;
}

.Information-Container{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;

}

.company-name {
  font-size: 60px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}


.splashPhoto{
  width: 100vw;
  height: auto;
  max-width: 800px;

}

.image-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  width: 100vw;
  height: 100vh;

}

.contact-splash{
  background: #6feb63;

  border: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 50px;
  border-radius: 5px;
  transition-duration: .5s;
}

.contact-splash:hover{
  cursor: pointer;
  background: rgb(27, 27, 27);
  color: white;
  padding: 20px 60px;
}

