.AllPhotos-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px 5px;

}


.Photo-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(49, 49, 49, 0.795);
}
