.contactLogo{
 width: 20px;

}


.Logo-Container{
    display: flex;
    flex-direction: column;
    width: 20px;


}


.contact-Container{
display: flex;
flex-direction: row;

}

.email-logo{
    display: flex;
    align-items: center;
}

.instagram-logo{
    display: flex;
    align-items: center;
}

.email-ptag{
    font-size: 10px;
    margin-left: 8px;
    text-decoration: none;

}


.link-p{
text-decoration: none;

}

.Contact-Us-Container{

    padding-left: 10px;
    max-width: fit-content;
}

.Footer-Container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    align-items:flex-start;
    border-top: 2px solid black;
}

.Social-Container{
margin-right: 200px;
}
